/* section of sale */
/* Slideshow container */
/* Next & previous buttons */
/* Position the "next button" to the right */
/* On hover, add a black background color with a little bit see-through */
/* Caption text */
/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
/* Fading animation */
@-webkit-keyframes "fade" {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}
@keyframes "fade" {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}
/* On smaller screens, decrease text size */
/* product section */
/* sign section */
/* register section */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #fff;
	color: #555;
	font-family: 'Dosis';
	height: 100vh;
	font-weight: 300;
	font-size: 20px;
}
nav {
	border-bottom: 1px solid #efefef;
}
.row {
	max-width: 1140px;
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
section {
    padding: 40px 0;
    position: relative;
}
.home__section {
	&::after {
		content:  '';
		position:  absolute;
		left: 50%;
		top:  -43px;
		width: 65%;
		height:  16px;
		background:  #fff;
		border-radius:  290px / 8px;
		-moz-border-radius:  290px / 8px;
		-webkit-border-radius:  290px / 8px;
		box-shadow: 0 10px 17px #000000d9;
		-moz-box-shadow: 0 10px 17px #000000d9;
		-webkit-box-shadow: 0 10px 17px #000000d9;
		z-index:  -3;
		transform:  translate(-50%,-50%);
	}
}
.logo {
	height: 70px;
	width: auto;
	float: left;
}
.cart {
	height: 32px;
	width: auto;
	margin-top: 16px;
}
.main-nav {
	margin-top: 20px;
	justify-content: center;
}
.hero__link__box {
	flex: 1;
}
.hero__cart {
	flex: 0;
}
.hero__cart__box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #e2d8d8;
	padding: 0px 12px;
	margin-top: 12px;
}
ul {
	display: flex;
	list-style: none;
}
li {
	a {
		text-decoration: none;
	}
	&:last-child {
		margin-left: 32px;
	}
}
.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
.slideshow-container {
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides {
	display: none;
}
img {
	vertical-align: middle;
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	&:hover {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	right: 0;
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
	}
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	&:hover {
		background-color: #717171;
	}
}
.active {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.product__box {
	flex: 0 1 30%;
	img {
		width: 100%;
	}
}
.product__content {
	text-align: center;
	flex: 1;
	p {
		line-height: 60px;
		font-size: 16px;
	}
	button {
		background-color: #af4c5e;
		border: none;
		color: #fff;
		padding: 12px 20px;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
			&:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -20px;
				transition: 0.5s;
			}
		}
		&:hover {
			span {
				padding-right: 20px;
				&:after {
					opacity: 1;
					right: 0;
				}
			}
		}
	}
}
.sign__in__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto 0 auto;
}
.sign__in__content {
	p {
		line-height: 60px;
	}
}
.sign__in__form {
	flex: 0 1 30%;
}
.form__input {
	input {
		border: none;
		border-bottom: 1px solid grey;
		padding: 8px 0px;
		width: -webkit-fill-available;
		&:focus {
			outline: none;
			border-bottom: 2px solid #4ae4ec;
		}
	}
	margin: 24px 0px;
	position: relative;
	button {
		background-color: #af4c5e;
		border: none;
		color: #fff;
		padding: 12px 20px;
		width: 100%;
		margin: 4px 2px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
label {
	top: 0px;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
input {
	&:focus {
		~ {
			label {
				top: -40%;
				color: #4ae4ec;
				outline: none;
				font-size: 16px;
			}
		}
	}
}
@media only screen and (max-width: 300px) {
	.prev {
		font-size: 11px;
	}
	.next {
		font-size: 11px;
	}
	.text {
		font-size: 11px;
	}
}
