/* section of sale */
/* img {vertical-align: middle;} */
/* Slideshow container */
/* Next & previous buttons */
/* Position the "next button" to the right */
/* On hover, add a black background color with a little bit see-through */
/* Caption text */
/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
/* Fading animation */
@import './base/animations';
/* On smaller screens, decrease text size */
/* product section */
/* sign section */
/* register section */
/* footer */
/* cart section */
/* product-list section */
/* .mobile-nav {
display: none;
} */
/* media queries */
/* On screens that are 992px wide or less, go from four columns to two columns */
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* pl section  */
/*hide the inputs*/
/*show the second levele menu of the selected voice*/
/*style for the second level menu*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #fff;
	color: #555;
	font-family: 'Dosis';
	height: 100vh;
	font-weight: 300;
	font-size: 20px;
}
nav {
	border-bottom: 1px solid #efefef;
}
.row-container {
	max-width: 1140px;
	margin: 0 auto 0 auto;
	position: relative;
}
.row {
	max-width: 1140px;
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home__section {
	padding: 40px 0;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		height: 4px;
		width: 60%;
		background: #fff;
		border-radius: 290px / 8px;
		-moz-border-radius: 290px / 8px;
		-webkit-border-radius: 290px / 8px;
		box-shadow: 0 10px 17px #000000d9;
		-moz-box-shadow: 0 10px 17px #000000d9;
		z-index: -3;
		transform: translate(-50%,-50%);
		margin-top: 19px;
	}
}
.logo {
	height: 78px;
	padding: 3px;
}
.cart {
	height: 32px;
	width: auto;
	margin-top: 16px;
}
.main-nav {
	float: left;
	position: absolute;
	left: 24%;
	top: 48%;
	display: flex;
	list-style: none;
	li {
		&:last-child {
			margin-left: 32px;
		}
	}
}
.cart-nav {
	position: absolute;
	left: 88%;
	top: 4%;
	float: right;
	display: flex;
	list-style: none;
	li {
		&:last-child {
			margin-left: 32px;
		}
	}
}
.hero__cart {
	float: right;
	position: absolute;
	left: 88%;
	top: 28%;
}
.hero__cart__box {
	a {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: #e2d8d8;
		padding: 0px 12px;
		margin-top: 12px;
	}
	.icon {
		display: none;
		color: #000000;
		text-decoration: none;
	}
}
li {
	a {
		text-decoration: none;
	}
}
.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
.slideshow-container {
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	max-width: 1140px;
	position: relative;
	margin: 0 auto;
}
.mySlides {
	display: none;
}
.prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	&:hover {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
	}
}
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	right: 0;
	border-radius: 3px 0 0 3px;
	&:hover {
		background-color: rgba(0,0,0,0.8);
		color: #fff;
	}
}
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	&:hover {
		background-color: #717171;
	}
}
.fa {
	color: #af4c83;
}
.active {
	background-color: #717171;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.product__box {
	flex: 0 1 30%;
	img {
		width: 100%;
	}
}
.product__content {
	text-align: center;
	flex: 1;
	p {
		line-height: 60px;
		font-size: 16px;
	}
	button {
		background-color: #af4c83;
		border: none;
		color: #fff;
		padding: 12px 20px;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
			&:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -20px;
				transition: 0.5s;
			}
		}
		&:hover {
			span {
				padding-right: 20px;
				&:after {
					opacity: 1;
					right: 0;
				}
			}
		}
	}
}
.product__list {
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		li {
			align-self: flex-end;
			padding: 12px 10px;
			border-bottom: 1px solid gray;
			width: 95%;
			text-align: center;
		}
	}
	flex: 0 0 30%;
	background-color: #e2d8d8;
	ul#menu {
		input {
			display: none;
		}
		label {
			display: none;
		}
	}
}
.sign__in__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1140px;
	margin: 0 auto 0 auto;
}
.sign__in__content {
	p {
		line-height: 60px;
	}
}
.sign__in__form {
	flex: 0 1 30%;
}
.form__input {
	input {
		border: none;
		border-bottom: 1px solid grey;
		padding: 8px 0px;
		width: -webkit-fill-available;
		&:focus {
			outline: none;
			border-bottom: 2px solid #4ae4ec;
		}
	}
	margin: 24px 0px;
	position: relative;
	button {
		background-color: #af4c83;
		border: none;
		color: #fff;
		padding: 12px 20px;
		width: 100%;
		margin: 4px 2px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
label {
	top: 0px;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
input {
	&:focus {
		~ {
			label {
				top: -40%;
				color: #4ae4ec;
				outline: none;
				font-size: 16px;
			}
		}
	}
}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
	padding: 16px 0px;
	p {
		font-size: 16px;
	}
}
.cart__container {
	height: 100vh;
	background-color: #e2d8d8;
	position: relative;
}
.cart__content {
	background: white;
	position: absolute;
	top: 8%;
	width: 100%;
	padding: 12px;
	display: flex;
	align-items: baseline;
}
.cart__content__item {
	background: white;
	position: absolute;
	top: 22%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	span {
		align-self: center;
	}
}
.cart__content__items {
	flex: 1;
}
.cart__content__price {
	background: white;
	position: absolute;
	top: 62%;
	width: 100%;
	padding: 12px;
}
.items {
	height: 60%;
}
.cart__checkout__btn {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	color: white;
	text-align: center;
	padding: 10px 20px;
	position: absolute;
	top: 100%;
	p {
		text-align: center;
		color: #000;
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 6px;
	}
}
.checkout__btn {
	background-color: #af4c83;
	color: white;
	text-align: center;
	padding: 16px 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-radius: 6px;
	border: none;
	&:focus {
		outline: none;
	}
}
.product__list__section {
	padding: 0px;
}
.product__list__container {
	display: flex;
	margin: 0 auto;
	max-width: 1140px;
}
.product__item__col {
	flex: 25%;
	max-width: 25%;
}
.pl__list {
	border-bottom: 1px dotted #e2d8d8;
}
.product__list__item {
	padding: 16px;
	flex: 0 0 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		padding: 12px;
		background: #e2d8d8;
		font-size: 12px;
		line-height: 16px;
		border-radius: 2px;
		min-height: 105px;
	}
	figure {
		img {
			width: 100%;
			display: block;
			padding: 8px 0px;
		}
	}
	h5 {
		min-height: 45px;
	}
}
.product__item__container {
	display: flex;
	flex-wrap: wrap;
}
.item__price {
	margin: 8px 0px;
	position: relative;
	text-align: right;
	.btn {
		background-color: #af4c83;
		border: none;
		color: #fff;
		padding: 10px 12px;
		font-size: 16px;
		cursor: pointer;
		display: inline-block;
		text-decoration: none;
		span {
			cursor: pointer;
			display: inline-block;
			position: absolute;
			transition: 0.5s;
			font-size: 16px;
			left: 0;
			color: black;
			font-size: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
@media only screen and (max-width: 300px) {
	.prev {
		font-size: 11px;
	}
	.next {
		font-size: 11px;
	}
	.text {
		font-size: 11px;
	}
}
@media screen and (max-width: 768px) {
	.cart-nav {
		left: 76%;
	}
	.hero__cart {
		left: 76%;
	}
	.main-nav {
		left: 34%;
	}
	.row {
		max-width: 750px;
	}
	.product__content {
		p {
			line-height: 24px;
		}
	}
	.item__price {
		.btn {
			width: 100%;
			text-align: center;
			margin: 4px 0px;
			span {
				transform: none;
				position: inherit;
				color: #fff;
				font-size: 14px;
				&::before {
					content: " @ ";
				}
			}
		}
	}
	.product__item__col {
		flex: 50%;
		max-width: 50%;
	}
	.pl__list {
		figure {
			width: 50%;
			float: left;
		}
	}
	.product__list__item {
		p {
			width: 50%;
			float: right;
			min-height: 155px;
		}
	}
}
@media screen and (max-width: 480px) {
	.product__content {
		p {
			line-height: 24px;
			font-size: 12px;
			padding: 0px 4px;
		}
	}
	.product__item__col {
		flex: 100%;
		max-width: 100%;
	}
	.logo {
		height: 54px;
	}
	.main-nav {
		li {
			background-color: #e2d8d8;
			&:last-child {
				margin-left: 0px;
			}
		}
		.cart-nav {
			.responsive {
				position: relative;
				a {
					float: none;
					display: block;
					text-align: left;
				}
			}
		}
		float: none;
		position: inherit;
		display: inline;
		list-style: none;
	}
	.cart-nav {
		li {
			background-color: #e2d8d8;
			&:last-child {
				margin-left: 0px;
			}
		}
		float: none;
		position: inherit;
		display: inline;
		list-style: none;
	}
	.hero__cart {
		background-color: #e2d8d8;
		float: right;
		position: absolute;
		left: 80%;
		top: 0%;
	}
	.hero__cart__box {
		a {
			position: relative;
		}
		p {
			position: absolute;
			left: 65%;
			top: 0%;
			color: #000;
			&:last-child {
				display: none;
			}
		}
		display: flex;
		justify-content: center;
		align-items: center;
		a.icon {
			display: block;
			margin-top: 20px;
		}
	}
	.topnav.responsive {
		.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.mobile-nav {
		background: #e2d8d8 !important;
		li {
			padding: 5px 0px;
			width: 100%;
			text-align: center;
			&:hover {
				background: #fff;
				border-bottom: 1px solid #b5aeae;
			}
			a {
				font-weight: 300;
				display: block;
				padding: 12px;
				color: #af4c83;
				text-decoration: none;
				box-shadow: 0 -1px rgba(0, 0, 0, 0.5) inset;
				transition: background .3s;
				white-space: nowrap;
			}
		}
	}
	.hero__link__box {
		background: #e2d8d8;
		display: none;
	}
	.sign__in__container {
		margin: 20px;
		flex-direction: column;
		display: inline-block;
	}
	.product__list__container {
		max-width: 480px;
		flex-direction: column;
	}
	.product__item__container {
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.product__list {
		height: auto;
		ul#menu {
			label {
				position: relative;
				display: block;
				pointer-events: auto;
				padding: 0 18px 0 12px;
				line-height: 3em;
				transition: background 0.3s;
				cursor: pointer;
			}
			input {
				display: none;
			}
		}
		ul {
			li {
				align-self: center;
				padding: 0%;
				border: none;
			}
		}
	}
	.product__list__item {
		p {
			font-size: 14px;
			min-height: 180px;
			line-height: 24px;
		}
	}
	.item__price {
		text-align: center;
		span {
			display: none;
		}
		a {
			width: 100%;
		}
		.btn {
			width: 50%;
			text-decoration: none;
			span {
				position: initial;
				color: #fff;
				font-size: 16px;
				transform: none;
				&::before {
					content: " @ ";
				}
			}
		}
	}
	ul#menu {
		background: #af4c83;
		color: #fff;
	}
	label {
		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			right: 30px;
			width: 0;
			height: 0;
			border-top: 4px solid rgba(255,255,255,255);
			border-bottom: 0 solid rgba(255,255,255,255);
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			transition: border-bottom .1s, border-top .1s .1s;
		}
		&:hover {
			~ {
				label {
					background: rgba(0,0,0,.3);
				}
			}
		}
	}
	#check01 {
		&:checked {
			~ {
				label {
					&:after {
						border-top: 0 solid rgba(255,255,255,255);
						border-bottom: 4px solid rgba(255,255,255,255);
						transition: border-top .1s, border-bottom .1s .1s;
					}
				}
				ul.submenu {
					max-height: 300px;
					transition: max-height 0.5s ease-in;
				}
			}
		}
	}
	ul.submenu {
		max-height: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		background: #e2d8d8;
		box-shadow: 0 0 1px rgba(0,0,0,.3);
		transition: max-height 0.5s ease-out;
		li {
			a {
				display: block;
				padding: 12px;
				color: #af4c83;
				text-decoration: none;
				box-shadow: 0 -1px rgba(0,0,0,.5) inset;
				transition: background .3s;
				white-space: nowrap;
				&:hover {
					background: rgba(0,0,0,.3);
				}
			}
		}
	}
}
