<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="./../../css/stylesheets/style.css">
        <title>SABKA BAZAAR</title>
    </head>
    <body>
        <header>
                <nav>
                    <div class="row clearfix">
                        <img src="./../../images/logo_2x.png" alt="sabka-bazaar logo" class="logo">
                        <div class="hero__link__box">
                            <ul class="main-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Products</a></li>
                            </ul>
                        </div>
                        <div class="hero__cart">
                            <ul class="cart-nav">
                                <li><a href="/signIn">Signin</a></li>
                                <li><a href="/Register">Register</a></li>
                            </ul>
                            <span class="hero__cart__box">
                                <img src="./../../images/cart.svg" alt="cart" class="cart">
                                <p>0 items</p>
                            </span>
                        </div>
                    </div>
                </nav>
        </header>
        <!-- <section> -->
            <div class="cart__container">
                <div class="cart__content">
                    <h2>My Cart</h2><span>(0 item)</span>
                </div>
                <div class="cart__content__item">
                    <figure>
                    <img src="./../images/products/fruit-n-veg/apple.jpg" alt="fruits" class="items">
                </figure>
                    <div class="cart__content__items">
                        <h3>Apple - Washington, Reguler, 4pcs</h3>
                        <p>Rs 187</p>
                    </div>
                    <span>Rs 187</span>
                </div>
                <div class="cart__content__price">
                    <img src="./../images/lowest-price.png" alt="lowest price" class="lowest__price">
                    <span>You won't find it cheaper anywhere.</span>
                </div>
                <div class="cart__checkout__btn">
                        <p>Promto code can be applied on payment page.</p>
                    <button class="checkout__btn">
                        <span>Proceed to checkout</span>
                        <span>Rs. 187</span>
                    </button>
                </div>
            </div>
        <!-- </section> -->
    </body>
</html>