<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="./../../css/stylesheets/style.css">
        <title>SABKA BAZAAR</title>
    </head>
    <body>
        <header>
                <nav>
                    <div class="row clearfix">
                        <img src="./../../images/logo_2x.png" alt="sabka-bazaar logo" class="logo">
                        <div class="hero__link__box">
                            <ul class="main-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Products</a></li>
                            </ul>
                        </div>
                        <div class="hero__cart">
                            <ul class="cart-nav">
                                <li><a href="/signIn">Signin</a></li>
                                <li><a href="/Register">Register</a></li>
                            </ul>
                            <span class="hero__cart__box">
                                <img src="./../../images/cart.svg" alt="cart" class="cart">
                                <p>0 items</p>
                            </span>
                        </div>
                    </div>
                </nav>
        </header>
        <section>
            <div class="sign__in__container">
                <div class="sign__in__content">
                    <h2>Login</h2>
                    <p>Get access to your Orders, Wishlist and Recommendations.</p>
                </div>
                <div class="sign__in__form">
                    <form>
                        <div class="form__input">
                            <input type="email" name="email" id="email" required>
                            <label>Email</label>
                        </div>
                        <div class="form__input">
                            <input type="password" name="password" id="password" required>
                            <label>Password</label>
                        </div>
                        <div class="form__input">
                            <button>Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>