

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Dosis';
    height: 100vh;
    font-weight: 300;
    font-size: 20px;
    /* text-rendering: optimizeLegibility; */
}
nav {
    border-bottom: 1px solid #efefef;
}
.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 80px 0;
}

.logo {
    height: 70px;
    width: auto;
    float: left;
    /* margin-top: 20px; */
}
.cart {
    height: 32px;
    width: auto;
    margin-top: 16px;
}
.main-nav {
    margin-top: 20px;
    justify-content: center;
}
.cart-nav {
}
.hero-link-box {
    flex: 1;
}
.hero-cart {
    flex: 0;
}
ul {
    display: flex;
    list-style: none;
}
li a {
    text-decoration: none;
    
}
li:last-child {
    margin-left: 32px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}